<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207847553885-f8t4p66fje1b5dppq35rnhuqofvmlpoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207847553885-f8t4p66fje1b5dppq35rnhuqofvmlpoq</string>
	<key>API_KEY</key>
	<string>AIzaSyCyulFiX7-BPqfdCVxO_BybWA7g86gDE1A</string>
	<key>GCM_SENDER_ID</key>
	<string>207847553885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prenigma.chain.care.doctors</string>
	<key>PROJECT_ID</key>
	<string>prenigma-social</string>
	<key>STORAGE_BUCKET</key>
	<string>prenigma-social.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207847553885:ios:f8ac5015897f1003e286b4</string>
	<key>DATABASE_URL</key>
	<string>https://prenigma-social.firebaseio.com</string>
</dict>
</plist>